
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteRule ^wiki/(.*)$     http://wiki.ros.org/$1 [L,R]
RewriteRule ^doc/(.*)       http://docs.ros.org/$1 [L,R]
RewriteRule ^images/(.*)    http://wiki.ros.org/custom/images/$1 [L,R]

RewriteCond %{HTTP_HOST}    ^ros\.org$ [NC]
RewriteRule ^/(.*)          http://www.ros.org/$1 [L,R]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
